In [1]:
import pandas as pd 
import numpy as np
from sqlalchemy import create_engine

In [2]:
# Read Excel 

df = pd.read_excel("Superstore.xlsx")

#print(df)

In [3]:
# Read data from SQL Server (Using Windows authentication)


server = 'localhost\\MSSQLSERVER01'
database = 'Skool'

connection_string = (
    f"mssql+pyodbc://@{server}/{database}"
    "?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"
)

connection = create_engine(connection_string)

df = pd.read_sql("SELECT * FROM dbo.Orders ",connection)

#print(df)

In [4]:
# Selecting data window (top rows , bottom rows)

x = df.head(10)
#print (x.to_string(index=False))

y= df.tail(10)
print (y.to_string(index=False))

 Row_ID       Order_ID Order_Date  Ship_Date      Ship_Mode Customer_ID    Customer_Name   Segment       Country        City      State  Postal_Code Region      Product_ID        Category Sub_Category                                                                      Product_Name      Sales  Quantity  Discount    Profit
   9985 CA-2015-100251 2015-05-17 2015-05-23 Standard Class    DV-13465 Dianna Vittorini  Consumer United States  Long Beach   New York        11561   East OFF-LA-10003766 Office Supplies       Labels                                                    Self-Adhesive Removable Labels  31.500000        10       0.0 15.120000
   9986 CA-2015-100251 2015-05-17 2015-05-23 Standard Class    DV-13465 Dianna Vittorini  Consumer United States  Long Beach   New York        11561   East OFF-SU-10000898 Office Supplies     Supplies Acme Hot Forged Carbon Steel Scissors with Nickel-Plated Handles, 3 7/8" Cut, 8"L  55.599998         4       0.0 16.124001
   9987 CA-2016-125794 2016-09-29 2016-10-03 Standard Class    ML-17410     Maris LaWare  Consumer United States Los Angeles California        90008   West TEC-AC-10003399      Technology  Accessories                               Memorex Mini Travel Drive 64 GB USB 2.0 Flash Drive  36.240002         1       0.0 15.220800
   9988 CA-2017-163629 2017-11-17 2017-11-21 Standard Class    RA-19885     Ruben Ausman Corporate United States      Athens    Georgia        30605  South TEC-AC-10001539      Technology  Accessories             Logitech G430 Surround Sound Gaming Headset with Dolby 7.1 Technology  79.989998         1       0.0 28.796400
   9989 CA-2017-163629 2017-11-17 2017-11-21 Standard Class    RA-19885     Ruben Ausman Corporate United States      Athens    Georgia        30605  South TEC-PH-10004006      Technology       Phones                                                   Panasonic KX - TS880B Telephone 206.100006         5       0.0 55.646999
   9990 CA-2014-110422 2014-01-21 2014-01-23   Second Class    TB-21400 Tom Boeckenhauer  Consumer United States       Miami    Florida        33180  South FUR-FU-10001889       Furniture  Furnishings                                                            Ultra Door Pull Handle  25.247999         3       0.2  4.102800
   9991 CA-2017-121258 2017-02-26 2017-03-03 Standard Class    DB-13060      Dave Brooks  Consumer United States  Costa Mesa California        92627   West FUR-FU-10000747       Furniture  Furnishings                                Tenex B1-RE Series Chair Mats for Low Pile Carpets  91.959999         2       0.0 15.633200
   9992 CA-2017-121258 2017-02-26 2017-03-03 Standard Class    DB-13060      Dave Brooks  Consumer United States  Costa Mesa California        92627   West TEC-PH-10003645      Technology       Phones                                                             Aastra 57i VoIP phone 258.575989         2       0.2 19.393200
   9993 CA-2017-121258 2017-02-26 2017-03-03 Standard Class    DB-13060      Dave Brooks  Consumer United States  Costa Mesa California        92627   West OFF-PA-10004041 Office Supplies        Paper                                 It's Hot Message Books with Stickers, 2 3/4" x 5"  29.600000         4       0.0 13.320000
   9994 CA-2017-119914 2017-05-04 2017-05-09   Second Class    CC-12220     Chris Cortes  Consumer United States Westminster California        92683   West OFF-AP-10002684 Office Supplies   Appliances         Acco 7-Outlet Masterpiece Power Center, Wihtout Fax/Phone Line Protection 243.160004         2       0.0 72.947998

In [5]:
# Basic statistical analysis

df.describe()

,Row_ID,Postal_Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9993.000000
mean,4997.500000,55190.379428,229.858000,3.789574,0.156203,28.701793
std,2885.163629,32063.693350,623.245098,2.225110,0.206452,234.228826
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978027
25%,2499.250000,23223.000000,17.280001,2.000000,0.000000,1.731000
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.671000
75%,7495.750000,90008.000000,209.940002,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480469,14.000000,0.800000,8399.975586

In [6]:
# Selecting multiple columns 


print(df[['Customer_Name','State','City']].head(10))

     Customer_Name       State             City
0      Claire Gute    Kentucky        Henderson
1      Claire Gute    Kentucky        Henderson
2  Darrin Van Huff  California      Los Angeles
3   Sean O'Donnell     Florida  Fort Lauderdale
4   Sean O'Donnell     Florida  Fort Lauderdale
5  Brosina Hoffman  California      Los Angeles
6  Brosina Hoffman  California      Los Angeles
7  Brosina Hoffman  California      Los Angeles
8  Brosina Hoffman  California      Los Angeles
9  Brosina Hoffman  California      Los Angeles

In [8]:
# Updating values on basis of index 

# for Claire Gute we want to change the State to Florida
#df['State'][0]= 'Florida'
#x=df.head(5)





for i,index in df['Customer_Name']:
    if i == 'Claire Gute':
        df['State'][;]= 'Florida'

print(df[['Customer_Name','State','City']].head(10))

     Customer_Name    State             City
0      Claire Gute  Florida        Henderson
1      Claire Gute  Florida        Henderson
2  Darrin Van Huff  Florida      Los Angeles
3   Sean O'Donnell  Florida  Fort Lauderdale
4   Sean O'Donnell  Florida  Fort Lauderdale
5  Brosina Hoffman  Florida      Los Angeles
6  Brosina Hoffman  Florida      Los Angeles
7  Brosina Hoffman  Florida      Los Angeles
8  Brosina Hoffman  Florida      Los Angeles
9  Brosina Hoffman  Florida      Los Angeles